html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.go {
  font-size: 8.125rem;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  user-select: none;
}

.go-space {
  font-size: 6.25rem;
  font-weight: 200;
}

.start {
  font-size: 8rem;
  color: white;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

.play,
.hiscores {
  cursor: pointer;
}

.hiscoreAlert {
  font-weight: 700;
}


.play.active,
.hiscores.active {
  color: orange;
}

.points {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 200;
  color: white;
  width: 20%;
  height: 20%;
}

.rules {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  left: 0;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 200;
  color: white;
  width: 80%;
  height: 20%;
}

.rules p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: white;
  width: 100%;
  height: 100%;
  user-select: none;
  

}


.mobile {
  position: fixed;
  bottom: 11%;
  left: 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 20%;
  user-select: none;
  -webkit-user-select: none;
}

.restart {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
}
.restart:active{
  background-color: rgba(255, 255, 255, 0.5);
  user-select: none;
  -webkit-user-select: none;

}

.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first .left,
.second .up,
.down,
.third .right,
.boost .boostas {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  letter-spacing: 2px;
  border: none;
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  user-select: none;
  -webkit-user-select: none;
}

.first .left:active,
.second .up:active,
.down:active,
.third .right:active,
.boost .boostas:active {
  background-color: rgba(255, 255, 255, 0.5);
  user-select: none;
  -webkit-user-select: none;

}
